*.class
*.log

cobit-message-api-server/bin/env.sh
cobit-message-stream-server/bin/env.sh
cobit-message-eventbus-server/bin/env.sh

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.settings
.classpath

.idea*
*.iml

rebel.xml

env.sh

*.plist